// Add your own CSS here!

:root {
  --light: #fafafa;
  --dark: #27272a;
  --secondary: #a21caf;
  --tertiary: #d946ef;
  --visited: #6b7280;
  --primary: #0e7490;
  --gray: #262626;
  --lightgray: #e5e5e5;
  --outlinegray: #a1a1aa;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #27272a !important;
  --dark: #fafafafa !important;
  --secondary: #e879f9 !important;
  --tertiary: #f0abfc !important;
  --visited: #6b7280 !important;
  --primary: #a5f3fc !important;
  --gray: #d4d4d8 !important;
  --lightgray: #18181b !important;
  --outlinegray: #3f3f46 !important;
}
